doctype html
html

  head
    title My angular's page
    script(type='text/javascript', src='vendor/angular/angular.min.js')

  body
    h1 My angular's page
    p This is just a test to know if everything is working as it should