doctype html
html(ng-app='store')

  head
    title My angular's page
    link(type='text/css', rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')

  body
    h1 My angular's page
    p This is just a test to know if everything is working as it should
    script(type='text/javascript', src='vendor/angular/angular.min.js')
    script(type='text/javascript' src='lib/app.js')