doctype html
html(ng-app='store')

  head
    title My angular's page
    link(type='text/css', rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')

  body
    script(type='text/javascript', src='vendor/angular/angular.min.js')
    script(type='text/javascript' src='lib/app.js')
    h1 My angular's page
    p Expression test: {{"hello" + " " + "you!"}}
