doctype html
html(ng-app='store')

  head
    title My angular's page
    link(type='text/css', rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')

  body
    script(type='text/javascript', src='vendor/angular/angular.min.js')
    script(type='text/javascript' src='lib/app.js')

    div(ng-controller='StoreController as store')
      h1 {{ store.product.name }}
      h2 {{ store.product.price }}
      p {{ store.product.description }}