doctype html
html(ng-app='store')

  head
    title My angular's page
    link(type='text/css', rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')

  body(ng-controller='StoreController as store')
    script(type='text/javascript', src='vendor/angular/angular.min.js')
    script(type='text/javascript' src='lib/app.js')

    ul.list-group
      li.list-group-item(ng-repeat='product in store.products')
        h3 {{ product.name }}
          em.pull-right {{ product.price | currency }}
